<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="row">
                <div class="col-lg-3">
                    FROM: <input class="form-control" type="datetime-local">
                </div>
                <div class="col-lg-3">
                    TO: <input class="form-control" type="datetime-local">
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-dark mt-4">Search</button>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <canvas #chartCanvas style="width:100%"></canvas>
        </div>
    </div>
</div>