<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 mb-4">
            <form [formGroup]="frm" (ngSubmit)="getPeriod()">
                <div class="row">
                    <div class="col-lg-3">
                        FROM:
                        <input type="datetime-local" formControlName="start" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['start'].errors }" />
                        <div *ngIf="submitted && f['start'].errors" class="invalid-feedback">
                            <div *ngIf="f['start'].errors['required']">required!</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        TO: 
                        <input type="datetime-local" formControlName="end" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['end'].errors }" />
                        <div *ngIf="submitted && f['end'].errors" class="invalid-feedback">
                            <div *ngIf="f['end'].errors['required']">required!</div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <button style="margin-right: 5px;" type="submit" class="btn btn-dark mt-4">Apply</button>
                        <button (click)="reset()" type="button" class="btn btn-light mt-4">Reset</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-12 mt-2">
            <b>Note</b>
            <ul>
                <li>Avg Hight (Temp) is configure between 40-100</li>
                <li>Avg Low (Temp) is configure between 0-39</li>
                <li>Mockup database time period is 1 hour per record</li>
            </ul>
        </div>
        <div class="col-lg-12 mt-3">
            <canvas #chartCanvas style="width:100%"></canvas>
        </div>
    </div>
</div>